.fade-in-1 {
  animation: fadeIn 0.4s ease;
}

.fade-in-2 {
  animation: fadeIn 0.6s ease;
}

.fade-in-3 {
  animation: fadeIn 0.8s ease;
}

.fade-in-4 {
  animation: fadeIn 0.8s ease;
}

.fade-in-5 {
  animation: fadeIn 1s ease;
}

.fade-in-6 {
  animation: fadeIn 1.2s ease;
}

.fade-out {
  animation: fadeOut 0.8s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
